{% extends 'sidebar.html' %}

{% load staticfiles %}

{% block cssLinks %}
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock %}

{% block pageContent %}
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-9" style="padding-right: 25px;">
                            <!-- page content -->
                            <div>

                                <div class="">
                                    <div class="page-title">
                                        <div class="title_left "><h3>Helper Activation Request</h3></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <!-- start project list -->
                                                    <table class="table table-striped projects">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">Username</th>
                                                            <th class="text-center">First Name</th>
                                                            <th class="text-center">Last Name</th>
                                                            <th class="text-center">Email</th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for user in pending_users %}
                                                        <tr>
                                                            <td class="text-center">
                                                                {{ user.user.username }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ user.user.first_name }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ user.user.last_name}}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ user.user.email}}
                                                            </td>
                                                            <td class="text-center">
                                                                <a href="{%url 'management:ActivateHelper' user.user.id%}">Activate</a>
                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end project list -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /page content -->
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                    <div class="page-title">
                                        <div class="title_left "></div>

                                    </div>
                                    <div class="clearfix"></div>
            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-9" style="padding-right: 25px;">
                            <!-- page content -->
                            <div>

                                <div class="">
                                    <div class="page-title">
                                        <div class="title_left "><h3>Helpers</h3></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <!-- start project list -->
                                                    <table class="table table-striped projects">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">Username</th>
                                                            <th class="text-center">First Name</th>
                                                            <th class="text-center">Last Name</th>
                                                            <th class="text-center">Email</th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for helper in helpers %}
                                                        <tr>
                                                            <td class="text-center">
                                                                {{ helper.user.username }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ helper.user.first_name }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ helper.user.last_name}}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ helper.user.email}}
                                                            </td>
                                                            <td class="text-center">
                                                                <a href="{%url 'dashboard:helper_profile' helper.user.id helper.created.year%}">View Profile</a>
                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end project list -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /page content -->
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                    <div class="page-title">
                                        <div class="title_left "></div>

                                    </div>
                                    <div class="clearfix"></div>
            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-9" style="padding-right: 25px;">
                            <!-- page content -->
                            <div>

                                <div class="">
                                    <div class="page-title">
                                        <div class="title_left "><h3>Tasks</h3></div>

                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_content">
                                                    <!-- start project list -->
                                                    <table class="table table-striped projects">
                                                        <thead>
                                                        <tr>
                                                            <th class="text-center">Task ID</th>
                                                            <th class="text-center">Category</th>
                                                            <th class="text-center">Created</th>
                                                            <th class="text-center">Helper</th>
                                                            <th class="text-center">Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for assign in assigns %}
                                                        <tr>
                                                            <td class="text-center">
                                                                {{ assign.action.task }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ assign.action.task.category }}
                                                            </td>
                                                            <td class="text-center">
                                                                {{ assign.action.task.created | date:"d.m.Y" }}
                                                            </td>
                                                            <td class="text-center">
                                                                <a href="{%url 'dashboard:helper_profile' assign.helper.id assign.created.year%}"> {{ assign.helper.user.first_name|title }} {{ assign.helper.user.last_name|title }}</a>
                                                            </td>
                                                            <td class="text-center">
                                                                {% ifequal  assign.action.task.status 1 %}
                                                                    <div class="text-danger">pending</div>
                                                                {% endifequal %}
                                                                {% ifequal  assign.action.task.status 2 %}
                                                                    <div class="text-success">completed</div>
                                                                {% endifequal %}
                                                                {% ifequal  assign.action.task.status 3 %}
                                                                    <div class="text-danger">pending</div>
                                                                {% endifequal %}
                                                            </td>

                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <!-- end project list -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /page content -->
                        </div>
                        <div class="col-md-3">
                            <div class="">
                                    <div class="page-title">
                                        <div class="title_left "></div>

                                    </div>
                                    <div class="clearfix"></div>
            <div class="col-md-6">
                <div class="text-center tile-stats">
                    <div class="count text-muted">{{completed}}</div>
                    <h3><span class="text-success"><b>Completed</b></span></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center tile-stats">
                    <div class="count text-muted">{{pending}}</div>
                    <h3><span class="text-danger"><b>Pending</b></span></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center tile-stats">
                    <div class="count text-muted">{{rejected}}</div>
                    <h3><span class="text-danger"><b>Rejected</b></span></h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center tile-stats">
                    <div class="count text-muted">{{total}}</div>
                    <h3><span class="text-primary"><b>Total</b></span></h3>
                </div>
            </div>
            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /page content -->
<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'vendors/bernii/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'js/flot/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'js/flot/date.js' %}"></script>
<script src="{% static 'js/flot/jquery.flot.spline.js' %}"></script>
<script src="{% static 'js/flot/curvedLines.js' %}"></script>
<!-- jVectorMap -->
<script src="{% static 'js/maps/jquery-jvectormap-2.0.3.min.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'js/moment/moment.min.js' %}"></script>
<script src="{% static 'js/datepicker/daterangepicker.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block jsLinks %}


{% endblock %}

