{% extends 'sidebar.html' %}

{% load staticfiles %}

{% block cssLinks %}
<link href="{% static 'vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{% endblock %}

{% block pageContent %}
<!-- page content -->

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-12" style="padding-right: 25px;">
                        <!-- page content -->
                        <div>

                            <div class="">
                                <div class="page-title">
                                    <div class="title_left "><h3>Task Details</h3></div>

                                </div>
                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="x_panel">
                                            <div class="x_content text-center" style="color:black;font-size: large;">
                                                <p>Username : {{helper.user.username}}</p>
                                                <p>First Name : {{helper.user.first_name}}</p>
                                                <p>Last Name : {{helper.user.last_name}}</p>
                                                <p>Phone No : {{helper.helper_number}}</p>
                                                <p>Email : {{helper.user.email}}</p>
                                                {%ifequal category_assigned None%}
                                                    <p>Category Assigned: None</p>
                                                    {%else%}
                                                        <p>Category Assigned : {{category_assigned}} </p>
                                                {%endifequal%}


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /page content -->
                    </div>

                </div>
            </div>

        </div>
    </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-12" style="padding-right: 25px;">
                        <!-- page content -->
                        <div>
                            <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Task Statistics</h3>

              </div>
                <div class="col-md-3 pull-right">
                    <br>
                          <select class="form-control" id="years" onchange="changeYear()">
                            <option value="0">Current Year ({{cur_year}})</option>
                            {%for year in years%}
                            <option value="{{year}}">{{year}}</option>
                            {%endfor%}
                          </select>
                        </div>
                <div class="col-md-3 pull-right">
                    <br>
                          <select class="form-control" id="cats" onchange="changeCats()">
                            <option value="0">Current Category ({{cur_cat}})</option>
                            <option value="All">All</option>
                            {%for cat in helper_cats%}
                            <option value="{{cat.name}}">{{cat.name}}</option>
                            {%endfor%}
                          </select>
                        </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
             <div class="col-xs-12">
                <div class="x_content2">
                    <div id="graphx" style="width:100%; height:300px;"></div>
                  </div>
              </div>
              <div class="clearfix"></div>
            </div>
                  </div>
                        </div>
                    </div>
                    </div>
                      </div>
          </div>
              </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-12" style="padding-right: 25px;">
                        <!-- page content -->
                        <div>

                            <div class="">
                                <div class="page-title">
                                    <div class="title_left "><h3>Tasks</h3></div>

                                </div>
                                <div class="clearfix"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="x_panel">
                                            <div class="x_content">
                                                <!-- start project list -->
                                                <table id="tasks" class="table table-striped projects">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">Task ID</th>
                                                        <th class="text-center">Category</th>
                                                        <th class="text-center">Created</th>
                                                        <th class="text-center">Client</th>
                                                        <th class="text-center">Helper</th>
                                                        <th class="text-center">Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for assign in assigns %}
                                                    <tr>
                                                        <td class="text-center">
                                                            <a href="{%url 'dashboard:task_details' assign.action.task%}">{{ assign.action.task }}</a>
                                                        </td>
                                                        <td class="text-center">
                                                            {{ assign.action.task.category }}
                                                        </td>
                                                        <td class="text-center">
                                                            {{ assign.action.task.created | date:"d.m.Y" }}
                                                        </td>
                                                        <td class="text-center">
                                                            {{ assign.action.task.call_request.client }}
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="{%url 'dashboard:helper_profile' assign.helper.id 'All' assign.created.year%}">
                                                                {{ assign.helper.user.first_name|title }} {{assign.helper.user.last_name|title }}</a>
                                                        </td>
                                                        <td class="text-center">
                                                            {% ifequal assign.action.task.status 1 %}
                                                            <div class="text-danger">pending</div>
                                                            {% endifequal %}
                                                            {% ifequal assign.action.task.status 2 %}
                                                            <div class="text-success">completed</div>
                                                            {% endifequal %}
                                                            {% ifequal assign.action.task.status 3 %}
                                                            <div class="text-danger">pending</div>
                                                            {% endifequal %}
                                                        </td>

                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <!-- end project list -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /page content -->
                    </div>

                </div>
            </div>

        </div>
    </div>
        </div>
<script src="{% static 'vendors/jquery/dist/jquery.min.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <!-- morris.js -->
    <script src="{% static 'vendors/raphael/raphael.min.js'%}"></script>
    <script src="{% static 'vendors/morris.js/morris.min.js'%}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js'%}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js'%}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js'%}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.min.js'%}"></script>
    <script>
      $(document).ready(function() {
        Morris.Bar({
          element: 'graphx',
          data: [
            {x: 'Jan', Pending: {{pen_jan}}, Completed: {{com_jan}}, Rejected: {{rej_jan}}},
            {x: 'Feb', Pending: {{pen_feb}}, Completed: {{com_feb}}, Rejected: {{rej_feb}}},
            {x: 'Mar', Pending: {{pen_mar}}, Completed: {{com_mar}}, Rejected: {{rej_mar}}},
            {x: 'Apr', Pending: {{pen_apr}}, Completed: {{com_apr}}, Rejected: {{rej_apr}}},
            {x: 'May', Pending: {{pen_may}}, Completed: {{com_may}}, Rejected: {{rej_may}}},
            {x: 'Jun', Pending: {{pen_jun}}, Completed: {{com_jun}}, Rejected: {{rej_jun}}},
            {x: 'Jul', Pending: {{pen_jul}}, Completed: {{com_jul}}, Rejected: {{rej_jul}}},
            {x: 'Aug', Pending: {{pen_aug}}, Completed: {{com_aug}}, Rejected: {{rej_aug}}},
            {x: 'Sep', Pending: {{pen_sep}}, Completed: {{com_sep}}, Rejected: {{rej_sep}}},
            {x: 'Oct', Pending: {{pen_oct}}, Completed: {{com_oct}}, Rejected: {{rej_oct}}},
            {x: 'Nov', Pending: {{pen_nov}}, Completed: {{com_nov}}, Rejected: {{rej_nov}}},
            {x: 'Dec', Pending: {{pen_dec}}, Completed: {{com_dec}}, Rejected: {{rej_dec}}},
          ],
          xkey: 'x',
          ykeys: ['Pending', 'Completed', 'Rejected'],
          barColors: ['#FF9800', '#4CAF50', '#F44336', '#3498DB'],
          hideHover: 'auto',
          labels: ['Pending', 'Completed', 'Rejected'],
          resize: true
        }).on('click', function (i, row) {
            console.log(i, row);
        });
        $MENU_TOGGLE.on('click', function() {
          $(window).resize();
        });
      });
    </script>
    <script>
        function changeYear(){
            var e = document.getElementById("years");
            var year = e.options[e.selectedIndex].value;
            if(year!="0")
                window.location.href = "http://vmocsh.cse.iitb.ac.in/helper_profile/{{pk}}/{{cur_cat}}/"+year+"/";
        }
        function changeCats() {
            var e = document.getElementById("cats");
            var cat = e.options[e.selectedIndex].value;
            if (cat != "0")
                window.location.href = "http://vmocsh.cse.iitb.ac.in/helper_profile/{{pk}}/" + cat + "/{{cur_year}}/";
        }
    </script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tasks').dataTable();
        });

    </script>
{% endblock %}






